<% provide(:title, "All Users") %>
<% if params[:search].blank? %>
  <h1>全てのユーザー</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="col-md-3 col-md-offset-8">
  <%= form_with(url: users_path, local: true, method: :get) do |f| %>
    <%= f.label :search, "ユーザー名検索", class: "label-login" %>
    <div class="form-inline">
      <%= f.text_field :search, placeholder: "キーワードを入力...", value: params[:search], class: "form-control" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
          <% if current_user.admin? && !current_user?(user) %>
            <span> | </span>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>